@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 30px;
}

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form label {
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  border: 1px solid #999;
  border-radius: 4px;
}

form button[type="submit"] {
  border: none;
  background-color: rgb(0, 60, 255);
  color: white;
  padding: 7px 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

form button[type="submit"]:hover {
  background-color: rgb(0, 48, 206);
}
